
# Ignore Terraform workspace files
**/.terraform/*

# Ignore Terraform plan files
*.tfplan

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Ignore local environment files
*.tfvars

# Ignore IDE and editor files
.vscode/
.idea/
*.swp

# Ignore operating system files
.DS_Store
Thumbs.db